<% if @results.present? %>
	<ul>
	<% @results.each do |r| %>
		<li><%= r.description %></li>
	<% end %>
	</ul>
<% end %>

<div class="row">
	<div class="col-md-8">
		<div id="map"></div>
	</div>
	<div class="col-md-3">
		<div id="listing">
			<table id="resultsTable">
				<tbody id="results"></tbody>
			</table>
		</div>
	</div>

	<div class="col-md-1"></div>
</div>
<div style="display: none">
	<div id="info-content">
		<table>
			<tr id="iw-url-row" class="iw_table_row">
				<td id="iw-icon" class="iw_table_icon"></td>
				<td id="iw-url"></td>
			</tr>
			<tr id="iw-address-row" class="iw_table_row">
				<td class="iw_attribute_name">Address:</td>
				<td id="iw-address"></td>
			</tr>
			<tr id="iw-phone-row" class="iw_table_row">
				<td class="iw_attribute_name">Telephone:</td>
				<td id="iw-phone"></td>
			</tr>
			<tr id="iw-rating-row" class="iw_table_row">
				<td class="iw_attribute_name">Rating:</td>
				<td id="iw-rating"></td>
			</tr>
			<tr id="iw-website-row" class="iw_table_row">
				<td class="iw_attribute_name">Website:</td>
				<td id="iw-website"></td>
			</tr>
		</table>
	</div>
</div>
